version: 2
jobs:
    build:
        docker:
          - image: cimg/php:8.0
          - image: cimg/mysql:8.0
        steps:
            - checkout
            - run:
                name: Echo Test
                command: echo "CircleCI Test"
    deploy:
        machine:
            - ubuntu-2004:202010-01
        steps:
            - checkout
            - add_ssh_keys:
                fingerprints: "2d:18:95:84:cd:e4:e7:bf:b3:33:76:ca:d6:1c:57:94"                
            - run: ssh ${USER_NAME}@${HOST_NAME} 'cd myPortofolio && git pull'

workflows:
    version: 2
    build_and_deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only: main
